In [1]:
#create data base function
import sqlite3 #import function sqlite3

conn = sqlite3.connect('table') #connect sqlite3 
c = conn.cursor()
#create table for product_id
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
#create table for prices
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
#create table for number
c.execute('''
          CREATE TABLE IF NOT EXISTS numbers
          ([product_id] INTEGER PRIMARY KEY, [number] INTEGER)
          ''')
conn.commit()
#show  status
print("table created")

table created

In [5]:
#function insert value in data base
import sqlite3 #import smqlite3
select_colum = int(input('colum id')) #input colum id to select colum
#insert product_id and name
if select_colum == 000:  #code to select colum
  password = int(input('password'))
  while password == 123:  #while loop to insert value
    product_id = int(input('productID')) #insert product id
    product_name = input('productNAME') #insert product name
    if product_id >= 0:  #check value product id >=0
      conn = sqlite3.connect('table')
      c = conn.cursor()
      c.execute(f'''
              INSERT  INTO products (product_id, product_name) 
                          VALUES
                          ({product_id},'{product_name}') 
                          ''') #insert produuct name and id to data base
    if product_id == -1: #break function
        break
conn.commit()
if select_colum == 456:  #code to select colum
  password = int(input('password'))
  while password == 123: #while loop for insert value in data base
    product_id = int(input('product_id')) #insert product id
    number = int(input('number')) #insert product name
    if product_id and number >= 0:#check product id and number  value
      conn = sqlite3.connect('table') 
      c = conn.cursor()
      #insert product id and number                 
      c.execute(f'''
        INSERT OR   REPLACE INTO numbers (product_id, number)

                  VALUES
                  ({product_id},{number})
            ''')
    if product_id == -1: #break function
      break
    conn.commit()
      #loop input product id and price
if select_colum == 789: # code to select colum
  password = int(input('password'))
  while password == 123: # while loop to insert product id and price
    product_id = int(input('product_id'))
    price = int(input('price'))
    if product_id and price >= 0:#check product id and  price >=0
      conn = sqlite3.connect('table') 
      c = conn.cursor()
      #insert product id and price                
      c.execute(f'''
        INSERT OR   REPLACE INTO prices (product_id, price)

                  VALUES
                  ({product_id},{price})
            ''')
    if product_id == -1: #break function
      break
     
    conn.commit()
print("insert done") # print status

colum id789
password123
product_id1
price5252525
product_id-1
price1
insert done

In [6]:
#show value in data base
import sqlite3
import pandas as pd

conn = sqlite3.connect('table')
c = conn.cursor()
            #show product_name  price and number
c.execute('''
            SELECT
            a.product_name,
            b.price,
            d.number
            FROM products a
            LEFT JOIN prices b ON a.product_id = b.product_id
            LEFT JOIN numbers d ON a.product_id = d.product_id
            ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','prices','number'])
print(df) #print value in data base

  product_name   prices  number
0         Rois  5252525   99999