In [ ]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()
#create table for product_id
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
#create table for prices
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
#create table for number
c.execute('''
          CREATE TABLE IF NOT EXISTS numbers
          ([product_id] INTEGER PRIMARY KEY, [number] INTEGER)
          ''')
conn.commit()
#show  status
print("table created")

table created

In [ ]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()
 #insert product name and id                  
c.execute('''
          REPLACE INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')
#insert product id and price
c.execute('''
          REPLACE INTO prices (product_id, price)

                VALUES
                (1,80),
                (2,20),
                (3,30),
                (4,45),
                (5,15)
          ''')
#insert product id and number
c.execute('''
            REPLACE  INTO numbers (product_id, number)
          
                VALUES
                (1,6),
                (2,8),
                (3,9),
                (4,10),
                (5,7)          
          ''')
conn.commit()

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   #show product_name and price
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b  ON a.product_id = b.product_id 
          ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)
import sqlite3
import pandas as pd
#show product_name and number
conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.product_name,
          d.number
          FROM products a
          LEFT JOIN numbers d ON a.product_id = d.product_id 
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','number'])
print (df)

In [ ]:
#test 2 table insert product_id and numbers
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          INSERT OR REPLACE INTO numbers (product_id, number)

                VALUES
                (1,9),
                (2,7),
                (3,3),
                (4,5),
                (5,11)
          ''')
conn.commit()

In [ ]:
#test 2 table product_id and numbers
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.product_id,
          d.number
          FROM products a
          LEFT JOIN numbers d ON a.product_id = d.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_id','number'])
print (df)

In [ ]:
#test case 3 table
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   #show product_name and price
c.execute('''
          SELECT
          a.product_name,
          b.price,
          d.number
          FROM products a
          LEFT JOIN prices b, numbers d  ON a.product_id = b.product_id = d.product_id 
          ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','price', 'number'])
print (df)

  product_name  price  number
0     Computer     80       6
1      Printer     20       6
2       Tablet     30       6
3         Desk     45       6
4        Chair     15       6

In [ ]:
#test 2 table prices and numbers 
import sqlite3
import pandas as pd
#show product_name and number
conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          b.price,
          d.number,
          a.product_id
          FROM prices b 
          LEFT JOIN numbers d,products a ON b.product_id = d.product_id = a.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['price','number','product_id'])
print (df)

In [ ]:
#test case show all colum  in table
# Import module
import sqlite3
  
# Connecting to sqlite
conn = sqlite3.connect('test_database')
  
# Creating a cursor object using the cursor() method
cursor = conn.cursor()
  
  
# Display columns
print('\nColumns in products table:')
data=cursor.execute('''SELECT * FROM PRODUCTS''')
for column in data.description:
    print(column[0])
      
# Display data
print('\nData in products table:')
data=cursor.execute('''SELECT * FROM PRODUCTS''')
for row in data:
    print(row)
      
# Commit your changes in the database    
conn.commit()
  
# Closing the connection
conn.close()

In [ ]:
#test casae 3 table
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database')
c = conn.cursor()
            #shhhow product_name  price and number
c.execute('''
            SELECT
            a.product_name,
            b.price,
            d.number
            FROM products a
            LEFT JOIN prices b ON a.product_id = b.product_id
            LEFT JOIN numbers d ON a.product_id = d.product_id
            ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','prices','number'])
print(df)

  product_name  prices  number
0     Computer      80       9
1      Printer      20       7
2       Tablet      30       3
3         Desk      45       5
4        Chair      15      11