In [85]:
import sqlite3

conn = sqlite3.connect('table') 
c = conn.cursor()
#create table for product_id
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
#create table for prices
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
#create table for number
c.execute('''
          CREATE TABLE IF NOT EXISTS numbers
          ([product_id] INTEGER PRIMARY KEY, [number] INTEGER)
          ''')
conn.commit()
#show  status
print("table created")

table created

In [57]:
x = int(input('x'))
import sqlite3

conn = sqlite3.connect('table') 
c = conn.cursor()
 #insert product name and id                  
c.execute(f'''
    INSERT OR REPLACE INTO numbers (product_id, number)

                VALUES
                (1,{x})
          ''')
conn.commit()

x56

In [ ]:
#test if else
x = int(input('x'))
if x >= 0:
  y = int(input('y'))
else: 
  print("false")
if y >= 0:
  z = int(input('z'))
if z >= 0:
  a = int(input('a'))
if a >= 0:45    
  print("correct")
else: 
  print("false")

IndentationError: ignored

In [55]:
import sqlite3

conn = sqlite3.connect('table') 
c = conn.cursor()
 #insert product name and id                  
c.execute('''
          INSERT INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')
#insert product id and price
c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,80),
                (2,20),
                (3,30),
                (4,45),
                (5,15)
          ''')
#insert product id and number
c.execute('''
            INSERT INTO numbers (product_id, number)
          
                VALUES
                (1,6),
                (2,8),
                (3,9),
                (4,10),
                (5,7)          
          ''')
conn.commit()

In [94]:
#test casae 3 table
import sqlite3
import pandas as pd

conn = sqlite3.connect('table')
c = conn.cursor()
            #shhhow product_name  price and number
c.execute('''
            SELECT
            a.product_name,
            b.price,
            d.number
            FROM products a
            LEFT JOIN prices b ON a.product_id = b.product_id
            LEFT JOIN numbers d ON a.product_id = d.product_id
            ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','prices','number'])
print(df)

  product_name  prices  number
0     Computer      80    6456
1      Printer      20     424
2       Tablet      30   53453
3         Desk      45   86786
4        Chair      15   43434

In [100]:
#loop input product id and number
import sqlite3
z = int(input('z'))
while z == 123:
  x = int(input('x'))
  y = int(input('y'))
  if x and y >= 0:#check x and y
    conn = sqlite3.connect('table') 
    c = conn.cursor()
    #insert product name and id                  
    c.execute(f'''
       INSERT OR   REPLACE INTO numbers (product_id, number)

                VALUES
                ({x},{y})
          ''')
  if x == -1:
    break
  conn.commit()

z45